%ul.groups-info
  %li.groups-content
    %p.group-name
      SampleGroup
    %p.group_body
      まだメッセージはありません
  %li.group-content
    %p.group_name
      SampleGroup
    %p.group_body
      まだメッセージはありません
  %li.group-content
    %p.group_name
      SampleGroup
    %p.group_body
      まだメッセージはありません