%ul.sidebar__bottom__groups-info
  %li.sidebar__bottom__groups-content
    %p.group__name
      SampleGroup
    %p.group__body
      まだメッセージはありません
  %li.sidebar__bottom__group-content
    %p.group__name
      SampleGroup
    %p.group__body
      まだメッセージはありません
  %li.sidebar__bottom__group-content
    %p.group__name
      SampleGroup
    %p.group__body
      まだメッセージはありません