%ul.messages
  %li.message
    %p.message-name 
      SampleUser
    %p.message-time
      2017/08/25 15:23:67
    %br
    %p.message-body
      メッセージ
  %li.message
    %p.message-name
      SmpleUser
    %p.message-time
      2017/08/25 14:23:45
    %br
    %p.message-body
      メッセージ
  %li.message
    %p.message-name
      SmpleUser
    %p.message-time
      2017/08/25 12:23:23
    %br
    %p.message-body
      メッセージ
  %li.message
    %p.message-name
      SampleUser
    %p.message-time
      2017/08/24 23:45:78
    %br
    %p.message-body
      メッセージ
  %li.message
    %p.message-name
      SampleUser
    %p.message-time
      2017/08/24 23:30:78
    %br
    %p.message-body
      メッセージ