.updatebar グループが作成されました
.contents
  .sidebar
    .sidebar-top
      %h1 SampleUser
      %ul.user-name-lists
        %li.list
          =link_to do
            %i.fa.fa-pencil-square-o
        %li.list
          =link_to do
            %i.fa.fa-cog　
    .sidebar-btotom__groups-info
      %ul.groups-info
        %li.groups-content
          .group-name
            SampleGroup
          .group_body
            まだメッセージはありません
        %li.group-content
          .group_name
            SampleGroup
          .group_body
            まだメッセージはありません
        %li.group-content
          .group_name
            SampleGroup
          .group_body
            まだメッセージはありません
  .chatbar
    .chatbar-top
      .top-left
        .chatbar-top__name
          SampleGroup
        .chatbar-top__member
          Member:SampleUser
      .top-right
        %button 
          Edit
    .chatbar-main
      %ul.messages
        %li.message
          %p.message-name 
            SampleUser
          %p.message-time
            2017/08/25 15:23:67
          %br
          %p.message-body
            こんにちは
        %li.message
          %p.message-name
            SmpleUser
          %p.message-time
            2017/08/25 14:23:45
          %br
          %p.message-body
            疲れた
        %li.message
          %p.message-name
            SmpleUser
          %p.message-time
            2017/08/25 12:23:23
          %br
          %p.message-body
            お昼休憩
        %li.message
          %p.message-name
            SampleUser
          %p.message-time
            2017/08/24 23:45:78
          %br
          %p.message-body
            おやすみ
        %li.message
          %p.message-name
            SampleUser
          %p.message-time
            2017/08/24 23:30:78
          %br
          %p.message-body
            おやすみ
    .chatbar-bottom
      %input{type: "text", placeholder: "type a message", class: "chatbar-bottom__textfield"}
        
        %i.fa.fa-picture-o
        %input{type: "submit", value: "send", class: "chatbar-bottom__send"}


