.notice グループが作成されました
.contents
  .sidebar
    .sidebar__top
      %h1 SampleUser
      %ul.user-name-lists
        %li.list
          =link_to do
            %i.fa.fa-pencil-square-o
        %li.list
          =link_to do
            %i.fa.fa-cog　
    .sidebar__btotom
      %ul.groups-info
        %li.groups-content
          <%= render partical: "group", collection: @groups %>
  .chatbar
    .chatbar__top
      .top-left
        .chatbar-top__name
          SampleGroup
        .chatbar-top__member
          Member:SampleUser
      .top-right
        %button 
          Edit
    .chatbar__main
      %ul.messages
        %ul.messages
          %li.message
            <%= render partical: "message", collection: "@messages" %>
    .chatbar__bottom
      %input{type: "text", placeholder: "type a message", class: "chatbar-bottom__textfield"}
        
        %i.fa.fa-picture-o
        %input{type: "submit", value: "send", class: "chatbar-bottom__send"}
