// background-color
$notice: #38AEF0;
$side-top: #253141;
$side-bottom: #2f3e51;
$chat: #AAAAAA;
$main-color: #F5F5F5;
$alert-orange: #F35500;

// font-color
$member-color: #999999;
$message-color: #434A54;
$border: #eeeeee;
$name-color: #333333;
$white: #FFF;

