- current_user.groups.each do |group|
  %ul.sidebar__bottom__groups-info
    %li.sidebar__bottom__groups-content
      =link_to group_messages_path(group) do
        %p.groups-content__name
          SampleGroup
        %p.groups-content__body
          まだメッセージはありません