%ul.sidebar__bottom__groups-info
  %li.sidebar__bottom__groups-content
    %p.groups-content__name
      SampleGroup
    %p.groups-content__body
      まだメッセージはありません
  %li.sidebar__bottom__group-content
    %p.groups-content__name
      SampleGroup
    %p.groups-content__body
      まだメッセージはありません
  %li.sidebar__bottom__group-content
    %p.groups-content__name
      SampleGroup
    %p.groups-content__body
      まだメッセージはありません