.chatbar {
	width: calc(100vw - 300px);
	height: 100%;
	float: right;
	background-color: $white; 

	&__top {
		width: calc(100vw - 300px);
		height: 100px;
		background-color :white;
		padding: 0 20px;
		.chatbar__top__left {
			width: 70%;
			&__name {
				font-size: 20px;
				color: $name-color;
				padding-top: 20px;
				padding-bottom: 5px; 
			}
			&__member {
				font-size: 12px;
				text-align: center;
				color: $member-color;
				float: left;
			}
		}
		.chatbar__top__right {
			width: 30%;
			float: right;
			line-height: 100px;
			position: relative;
			bottom: 30px;
			.button_tag {
				color: $notice;
				border-color: $notice;
				height: 40px;
				width: 70px;
				float: right;
				margin-right: 80px;
			}
		}
	}
		.messages {
    background-color: $main-color;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    .message {
      .upper-message {
        display: flex;
        &__name {
          color: $message-color;
          font-size: 16px;
          font-weight: bold;
        }
        &__time{
          color: $member-color;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $message-color;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

	.form {
		position: absolute; bottom: 0px;
		background-color: $chat;	
		width: calc(100vw - 300px); 
		height: 80px;
		padding: 0 20px;
	  &__message {
	    border: none;
	    float: left;
	    height: 50px;
	    width: calc(100% - 150px);
	  }
	  &__mask {
	    background-color: $white;
	    float: left;
	    height: 50px;
	    padding-right: 10px;
	    &__image {
	      font-size: 20px;
	      line-height: 50px;
	    }
	    .hidden {
	      display: none;
	    }
	  }
	  &__submit {
	    background-color: $notice;
	    border: none;
	    color: $white;
	    float: right;
	    font-size: 16px;
	    height: 50px;
	    margin-left: 15px;
	    padding: 0 30px;
	  }
	}
}


li {
	list-style: none;
}
