// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
	background-color: $notice;
	text-align: center;
	color: $white;
}
.contents {
	width: 100vw;
	height: 100%;
	background-color: $white;
	position: fixed; 
}
.sidebar {
	width: 300px;
	height: 100%;
	background-color: $side-bottom;
	color: $white;
	float: left;
	position: fixed;
	&__top {
		height: 100px;
		background-color: $side-top;
		padding: 0 20px; 
		line-height: 100px;
		 h1 {
			font-size: 16px;
			color: $white;
			font-weight: bold;
			width: 100px;
			float: left;
		}
		.list {
			padding-top: 40px;
		}
		.icon {
			display: inline-block;
			color: $white;
			float: right;
			line-height: 100px;
		}
	}
	&__bottom {
		height: calc(100% - 100px);
		padding: 0 20px;
		overflow: auto;
		background-color: #2f3e51;
			.groups-content__name {
				font-size: 15px;
				color: $white;
				padding: 20px 0 5px 0;
			}
			.groups-content__body {
				font-size: 11px;
				color: $white;
				padding-bottom: 40px;
			}
	}
}
.chatbar {
	width: calc(100vw - 300px);
	height: 100%;
	float: right;
	background-color: $white; 

	&__top {
		width: calc(100vw - 300px);
		height: 100px;
		background-color :white;
		padding: 0 20px;
		.chatbar__top__left {
			width: 70%;
			&__name {
				font-size: 20px;
				color: $name-color;
				padding-top: 20px;
				padding-bottom: 5px; 
			}
			&__member {
				font-size: 12px;
				text-align: center;
				color: $menber-color;
				float: left;
			}
		}
		.chatbar__top__right {
			width: 30%;
			float: right;
			line-height: 100px;
			position: relative;
			bottom: 30px;
			button {
				color: $notice;
				border-color: $notice;
				height: 40px;
				width: 70px;
				float: right;
				margin-right: 80px;
			}
		}
	}
	&__main {
		background-color: $main-color;
		padding: 0 40px;
		height: calc(100% - 100px - 80px);
		overflow: auto;
		display: flex;
		width: calc(100vw - 300px);
		.chatbar__main__message {
			padding: 46px 0 40px 0;

			&__name {
				color: $message-color;
				font-size: 16px;
				font-weight: bold;
				line-height: 10px;
				float: left;
			}
			&__time {
				font-size: 12px;
				padding-left: 10px;
				color: $menber-color;
				float: left;
				line-height: 10px;
			}
			&__body {
				padding-top: 10px;
				font-size: 14px;
				color: $message-color;
				clear: both;
			}
		}
	}
	&__bottom {
		position: absolute; bottom: 0px;
		background-color: $chat;	
		width: calc(100vw - 300px); 
		height: 80px;
		padding: 0 20px;
		&__textfield {
			resize: none;
			width: 900px;
			font-size: 16px;
			color: $message-color;
			height: 50px;
			margin: 10px 0;
			position: absolute;
		}
		.fa-picture-o {
		  position: relative;
		  right: 250px;
		  top: 30px;
		  color: $name-color;
		  float: right;
		}
		&__send {
			background-color: #38AEF0;
			color: $white;
			height: 40px;
			width: 70px;
			float: right;
			margin: 15px 70px 15px 0;
		}
	}
}

li {
	list-style: none;
}
